# pdf files
*.pdf

# graphic files
*.jpeg
*.jpg

# excel files
*.xlsx

# osx files
.DS_Store

# cache files
/orf/__pycache__/
*.pyc

# data from testing, but keep the folders
/dev/_R/results/**
!/dev/_R/results/**/
!/dev/_R/results/**/.gitkeep

# exclude data from tox
/.tox/*
/orf.egg-info/*
MANIFEST

# exclude folder with original (unadjusted) documentation created by pdoc
/docs/orf/*